* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    background-color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    /* ================== HEADER================= */
    header {
        padding: 10px 5% !important;
        height: 70px !important;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    header .location,
    header .search-login {
        display: none !important;
    }

    header .responsive {
        display: block !important;
        z-index: 10;
    }

    header .responsive i {
        font-size: 28px !important;
    }

    /* ================= HOME ================= */
    .home {
        height: auto !important;
    }

    .home .home-inset {
        width: 100% !important;
        max-width: 100% !important;
        left: 0 !important;
        padding: 40px 20px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        position: static !important;
    }

    .home .home-inset h1 {
        font-size: 38px !important;
        width: 100% !important;
    }

    .home .home-inset .in-span {
        font-size: 22px !important;
        display: block;
        margin-bottom: 20px;
    }


    .home .home-inset .input-deliver {
        width: 100% !important;
        height: auto !important;
        padding: 15px !important;
        background: #fff;
        border-radius: 10px;
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
    }

    .input-btn {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 20px !important;
        width: 80% !important;
        position: relative;
        left: 10px !important;
    }

    .input-container {
        max-width: 100% !important;
        width: 100% !important;
    }

    .btn {
        max-width: 100% !important;
        width: 100% !important;
    }

    .home .home-inset .input-container input {
        width: 100% !important;
        height: 45px !important;
    }

    .home .home-inset .btn {
        position: static !important;
        margin: 0 !important;
        width: 100% !important;
        height: 50px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .menu {
        width: 100% !important;
        height: auto !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        left: 0 !important;
        top: 0 !important;
        padding: 50px 20px !important;
        background-color: transparent !important;
    }

    .menu .item {
        width: 100% !important;
        height: auto !important;
        min-height: 450px !important;
        max-width: 300px !important;
        margin-bottom: 50px !important;
        padding: 20px 0 !important;
    }

    .menu .item .image,
    .menu .item .image img {
        width: 100% !important;
        height: auto !important;
        transform: translateY(-25px) !important;
    }

    .menu .item .image .price {
        transform: translateY(23px);
    }

    .menu .item .sub-context {
        transform: translateY(-25px) !important;
    }

    /* =============== HOW-WORK ============== */
    .how-work {
        width: 100% !important;
        height: auto !important;
        padding: 50px 20px !important;
        text-align: center !important;
    }

    .how-work h1 {
        font-size: 35px !important;
        position: static !important;
        margin-bottom: 30px !important;
    }

    .how-work .sub-work {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        left: 0 !important;
        margin-top: 0 !important;
        gap: 30px !important;
    }

    .how-work .sub-work .item {
        width: 100% !important;
        max-width: 280px !important;
        height: auto !important;
        padding: 20px !important;
        position: static !important;
    }

    .how-work .sub-work .item .icon i {
        font-size: 80px !important;
    }

    .how-work .sub-work .item span {
        width: 100% !important;
        font-size: 16px !important;
    }

    /* ============== POP-ITEM ================= */
    .pop-item {
        max-width: 100% !important;
        width: 120% !important;
        height: auto !important;
        padding: 40px 20px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        transform: none !important;
        position: relative;
        left: 50px !important;
    }

    .pop-item h1 {
        display: none !important;
    }

    .pop-item .food-items {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 20px !important;
    }

    .pop-item .food-items .item:nth-child(1),
    .item:nth-child(7) {
        display: none !important;
    }

    .pop-item .food-items .item {
        width: 100% !important;
        max-width: 320px !important;
        height: auto !important;
        padding: 15px !important;
        margin: 0 0 30px 0 !important;
    }

    .pop-item .food-items .item .image {
        width: 100% !important;
        height: 180px !important;
    }

    .restaurant {
        max-width: 100% !important;
        width: 100% !important;
        height: 100% !important;
        position: relative;
        left: 25px !important;
    }

    .restaurant h1 {
        position: relative;
        left: -22px !important;
    }

    .restaurant .sub-restaurant {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    /* =============== SEARCH-FOOD ================ */
    .search-food {
        width: 100% !important;
    }

    .search-food h1 {
        position: relative;
        right: 20px !important;
        font-size: 25px !important;
        left: -10px !important;
    }

    .search-food .page-scrool {
        display: none !important;
    }

    .search-food .item-box {
        width: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .search-food .item-box .item .image {
        width: 80% !important;
        height: 80% !important;
    }

    .search-food .item-box .item .image img {
        width: 80% !important;
        height: 80% !important;
    }

    /* ================ APP =================== */
    .app {
        width: 100% !important;
        height: 100 !important;
        position: relative;
    }

    .app .app-barner {
        display: none !important;
    }

    .app .app-bottom {
        width: 100% !important;
        height: auto !important;
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        position: relative;
        top: 65% !important;
        left: -20px !important;
    }

    .app .app-bottom .image {
        width: 80% !important;
        height: 80% !important;
    }

    .app .app-bottom .image img {
        width: 80% !important;
        height: 80% !important;
    }

    .app .app-bottom .context h1 {
        font-size: 50px !important;
        position: relative;
        top: -150px !important;
        left: -10px !important;
    }

    .app .app-bottom .context p {
        font-size: 22px !important;
        width: 70% !important;
        position: relative;
        top: -160px !important;
    }

    .app .app-bottom .buttons {
        width: 70% !important;
        position: relative;
        top: -150px !important;
        display: flex;
        flex-direction: column !important;
    }

    .app .app-bottom .buttons .img-icon {
        width: 140px !important;
        height: 50px !important;
    }

    .app .app-bottom .buttons .img-icon .icon-context {
        display: flex;
        flex-direction: column !important;
    }

    .app .app-bottom .buttons .img-icon .icon-context h3 {
        font-size: 15px !important;
    }

    .app .app-bottom .buttons .img-icon .icon-context h1 {
        font-size: 20px !important;
        position: relative;
        transform: translateY(146px) !important;
    }


    /* =============== RECEPT =============== */
    .recept {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        gap: 40px !important;
        padding: 20px !important;
    }

    .recept .item {
        width: 100% !important;
        max-width: 350px !important;
        background: #ffffff !important;
        display: flex !important;
        flex-direction: column !important;
        border-radius: 20px !important;
        overflow: hidden !important;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08) !important;
        height: auto !important;
    }


    .recept .item .image {
        width: 100% !important;
        order: 1 !important;
    }

    .recept .item .image img {
        width: 100% !important;
        height: 220px !important;
        object-fit: cover !important;
        display: block !important;
    }

    .recept .item .context {
        width: 100% !important;
        padding: 25px !important;
        order: 2 !important;
        display: flex !important;
        flex-direction: column !important;
        gap: 15px !important;
    }

    .recept .item .context h2 {
        font-size: 24px !important;
        line-height: 1.3 !important;
    }

    .recept .item .context h2 span {
        display: block !important;
        color: #FFB30E !important;
    }


    .recept .item .context p {
        font-size: 15px !important;
        color: #616161 !important;
        line-height: 1.6 !important;
    }

    .recept .item .context button {
        width: 90% !important;
        padding: 15px !important;
        background: #FFB30E !important;
        color: white !important;
        border: none !important;
        border-radius: 10px !important;
        font-weight: bold !important;
        font-size: 16px !important;
        margin-top: 10px !important;
        cursor: pointer !important;
        position: relative;
        left: -15px !important;
    }

    /* ============= SUBSCRIBE ============= */
    .subscribe {
        width: 100 !important;
        height: auto !important;
    }

    .subscribe .context h1 {
        font-size: 35px !important;
        width: 90% !important;
        position: relative;
        top: -30px !important;
    }

    .subscribe .context button {
        position: relative;
        top: -140px !important;
    }

    /* ================ FOOTER ================= */

    footer {
        width: 100% !important;
        height: 100% !important;
    }

    footer .top h1 {
        text-align: center !important;
        margin-bottom: 30px !important;
        width: 100% !important;
    }

    .top .item-section {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 20px !important;
        width: 100% !important;
    }

    .top .item-section .item {
        display: flex !important;
        flex-direction: column !important;
        gap: 8px !important;
        position: relative;
        left: -75% !important;
        margin-left: 35px !important;
        padding: 15px 0 !important;
    }

    .top .item-section .item:nth-child(5) {
        display: none !important;
    }

    .top .item-section .item a {
        text-decoration: none !important;
        font-size: 25px !important;
        transition: color 0.3s;
    }

    .top .item-section .item a:hover {
        color: #FFB30E !important;
    }

    .center {
        width: 100% !important;
        height: 100% !important;
        padding: 100px !important;
        position: relative;
        left: -140% !important;

    }

    .center .center-left {
        display: flex;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .center span {
        width: 220px !important;
    }

    .center .center-left .search {
        display: flex;
        flex-direction: column !important;
    }

    .center .center-right {
        display: none !important;
    }

    .bottom {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        gap: 15px !important;
        padding: 20px !important;
        max-width: 100% !important;
        width: 100% !important;
        border-top: 1px solid #eee;
    }


    .bottom .left,
    .bottom .right {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        gap: 5px !important;
        width: 100% !important;
        font-size: 14px !important;
    }

    /* İkonların ölçüsü */
    .bottom i {
        font-size: 25px !important;
    }
}