/* mobile.css */

/* 1. Ümumi tənzimləmə - Saytın sağa qaçmasını bloklayır */
html,
body {
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 600px) {

    /* Header - Elementləri səliqəyə salırıq */
    header {
        padding: 15px !important;
        justify-content: center;
        gap: 15px;
        height: 60px;
    }

    header .location,
    header .search-login {
        width: 100% !important;
        justify-content: center !important;
        text-align: center;
        margin: 5px 0;
        visibility: hidden !important;
        display: none !important;
    }

    header .responsive {
        position: relative;
        z-index: 2;
        display: block !important;
    }

    header .responsive i {
        font-size: 30px;
        font-weight: 600;
    }

    header .responsive i:hover {
        color: #ffae00;
        cursor: pointer;
        transition: 0.5 ease-in-out;
    }

    .home .home-inset {
        width: 380px;
        height: auto;
        display: flex !important;
        flex-direction: column;
        position: relative;
        left: 10% !important;
        padding: 50px 0 !important;
    }

    .home .home-inset h1 {
        font-size: 50px !important;
    }

    .home .home-inset .in-span {
        font-size: 30px !important;
    }

    .home .home-inset .input-deliver {
        width: 390px !important;
        height: 180px;
    }

    .home .home-inset .input-container input {
        width: 200px !important;
    }

    .home .home-inset .btn {
        position: absolute;
        margin-left: 55%;
        margin-top: 1px !important;
        width: 130px !important;
        height: 45px !important;
    }


    .home .home-inset .btn i {
        font-size: 20px !important;
        margin-left: 5px;
    }

    .home .home-inset .btn span {
        font-size: 15px !important;
    }

    .menu {
        width: 100%;
        height: 100% !important;
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        position: relative;
        top: 30%;
        left: 21%;
        padding: 50px 0 !important;
    }

    .menu .item {
        margin-bottom: 70px !important;
    }

    .menu .item .image {
        width: 300px !important;
        height: 300px !important;
    }

    .menu .item .image img {
        width: 300px !important;
        height: 180px !important;
    }

    .how-work {
        width: 100%;
        height: 100% !important;
        padding: 50px 0 !important;
    }

    .how-work h1 {
        position: relative;
        top: 5%;
        font-size: 45px !important;
    }

    .how-work .sub-work {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        position: relative;
        left: 26%;
        margin-top: 15px;
    }

    .how-work .sub-work .item {
        width: 250px !important;
        height: 300px !important;
        position: relative;
        padding: 65px 0 !important;

    }

    .how-work .sub-work .item .icon i {
        font-size: 100px !important;
    }

    .how-work .sub-work .item span {
        width: 350px !important;
    }


    .pop-item {
        height: 100% !important;
        position: relative;
        left: 17%;
        padding: 50px 0 !important;
    }

    .pop-item h1 {
        display: none;
    }

    .pop-item .food-items {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .pop-item .food-items .item:nth-child(1) {
        display: none;
    }

    .pop-item .food-items .item:nth-child(7) {
        display: none;
    }

    .pop-item .food-items .item {
        width: 350px !important;
        height: 400px !important;
        padding: 0 50px !important;
        margin-bottom: 50px !important;
    }

    .pop-item .food-items .item .image {
        width: 320px !important;
        height: 200px !important;
    }

    .pop-item .food-items .item .context {
        position: relative;
        top: 0 !important;
    }

    .pop-item .food-items .item .context b {
        font-size: 35px !important;
    }

    .restaurant {
        width: 100% !important;
        height: 100% !important;
        padding: 50px 0 !important;
    }

    .restaurant h1 {
        font-size: 40px !important;
        padding-bottom: 15px !important;
    }

    .restaurant .sub-restaurant {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        position: relative;
        left: 10%;
    }

    .search-food {
        width: 100% !important;
        height: 100% !important;
        padding: 40px 0 !important;

    }

    .search-food h1 {
        font-size: 45px !important;
        position: relative;
        transform: translateX(-14%) !important;
    }

    .search-food .page-scrool {
        transform: translate(-65%, 90px) !important;

    }

    .search-food .item-box {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .app {
        width: 100% !important;
        height: 80vh !important;
        position: relative;
        left: 0 !important;
    }

    .app .app-barner {
        display: none !important;
    }

    .app .app-bottom {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        position: relative;
        margin-top: 100%;
    }

    .app .app-bottom .image {
        width: 180px !important;
        height: 100px;
        transform: translateY(70%) !important;
        margin-left: 34% !important;
    }

    .app .app-bottom .image img {
        width: 180px !important;
        height: 220px !important;
    }

    .app .app-bottom .context {
        position: relative !important;
        left: 0 !important;
    }

    .app .app-bottom .context h1 {
        font-size: 45px !important;
    }

    .app .app-bottom .context p {
        width: 350px !important;

    }

    .app .app-bottom .context .buttons {
        width: 110px !important;
        height: 60px !important;
        transform: translateX(-200px) !important;
    }

    .app .app-bottom .context .buttons .img-icon {
        width: 40px !important;
        height: 40px !important;
    }

    .app .app-bottom .context .buttons .img-icon img {
        width: 40px;
        height: 40px;
    }

    .app .app-bottom .context .buttons h1 {
        font-size: 15px !important;
    }

    .recept {
        width: 100% !important;
        height: 100% !important;
    }

    .recept .item {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 350px !important;
        height: 200px !important;
    }

    .recept .item:nth-child(1) .context {
        position: relative;
        width: 200px !important;
    }

    .recept .item:nth-child(1) .context h2 {
        width: 200px !important;
    }

    .recept .item:nth-child(1) .context p {
        width: 200px !important;
    }

    .recept .item:nth-child(2) .context {
        position: relative;
        left: -35px !important;
        width: 200px !important;
    }

    .recept .item:nth-child(2) .context h2 {
        width: 200px !important;
    }

    .recept .item:nth-child(2) .context p {
        width: 200px !important;
    }

    .recept .item .context {
        width: 50% !important;
    }

    .recept .item .context h2 {
        font-size: 20px !important;
    }

    .recept .item .context p {
        font-size: 12px !important;
        width: 165px !important;
    }

    .recept .item .context button {
        width: 130px !important;
        height: 45px !important;
        font-size: 13px !important;
        transform: translateY(-62px) !important;
        position: relative;
        left: -10px;
    }


    .subscribe {
        width: 100% !important;
        height: auto;
    }

    .subscribe .context {
        width: 350px !important;
        height: auto;
    }

    .subscribe .context h1 {
        font-size: 35px !important;
        width: 350px !important;
        height: 180px !important;
        background-color: rgba(0, 0, 0, 0.463);
        border-radius: 10px;
        position: relative;
        left: 20% !important;
        top: -60px !important;
        margin: 20px !important;
        padding: 20px !important;
        border: 1px solid #fff;
    }

    .subscribe .context button {
        width: 200px !important;
        height: 60px !important;
        font-size: 16px !important;
        position: relative;
        top: -60px !important;
        left: 70px !important;
    }

    footer {
        width: 100% !important;
        height: 100% !important;
    }

    footer h1 {
        position: relative;
        top: -110px !important;
        width: 300px !important;
        left: 40px !important;
    }

    footer .top {
        width: 100% !important;
        height: 200px !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }

    footer .top .item {
        position: relative;
        left: -95% !important;
        top: -80px !important;
        margin-left: 15px !important;
    }

    footer .center {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    footer .center .center-right {
        display: flex;
        flex-direction: row !important;
        position: relative;
        left: -10% !important;
    }

    footer .center .center-right .item h1 {
        transform: translate(-50px, 105px) !important;
        font-size: 20px !important;

    }

    footer .center .center-right .item:nth-child(2) h1 {
        margin-left: 10px !important;
    }

    footer .center .center-right .item a {
        font-size: 17px !important;
    }

    footer .center .center-right .item:nth-child(2) {
        transform: translateX(-250px) !important;
    }

    footer .center .center-right .item:nth-child(3) {
        transform: translateX(-480px) !important;
    }

    footer .center .center-left {
        transform: translate(-14%, -47%) !important;
    }

    footer .bottom {
        width: 680px !important;
        height: 100% !important;
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    footer .bottom .left {
        width: 480px !important;
        transform: translateX(-20px) !important;
    }

    footer .bottom .right {
        width: 480px !important;
        transform: translate(-330px, 30px) !important;
        position: relative;

    }
}