/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

header .logo {
    width: 170px;
    height: 200px;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .location {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

header .location b {
    font-size: 23px;
    font-weight: bold;
}

header .location span {
    font-size: 22px;
    font-weight: 500;
}

header .location i {
    color: #ffae00;
    font-weight: bold;
    font-size: 25px;
}


header .search-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-right: 50px;
}

header .search-login .search i {
    color: #ffae00;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

header .search-login .search span {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}


header .search-login .login {
    width: 100px;
    height: 42px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    box-shadow: 1px 2px 15px #ffae00;
}

header .search-login .login i {
    color: #ffae00;
    font-size: 20px;
    font-weight: bold;
}

header .search-login .login span {
    color: #ffae00;
    font-size: 18px;
    font-weight: bold;
}


/* SiteHome Hissəsi */

.home {
    background: linear-gradient(#FFCC00, #FFB100);
    width: 100%;
    height: 75vh;
}

.home .home-inset {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 200px;
    top: 180px;
}

.home .home-inset h1 {
    color: #fff;
    font-size: 85px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.home .home-inset .in-span {
    color: rgb(66, 66, 66);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
}

.home .input-deliver {
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    width: 800px;
    height: 200px;
}

.home .input-deliver .deliver-type {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px 40px;
}

.home .input-deliver .deliver-type .moto {
    width: 160px;
    height: 35px;
    background-color: #ffd5d5eb;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.home .input-deliver .deliver-type .moto i {
    color: #f17228;
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.home .input-deliver .deliver-type .moto span {
    color: #f17228;
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.home .deliver-type .packet {
    width: 160px;
    height: 35px;
    background-color: transparent;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.home .deliver-type .packet i {
    color: #757575;
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.home .deliver-type .packet span {
    color: #757575;
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.home .deliver-type hr {
    background-color: #757575;
    height: 0.5px;
}

.home .input-deliver .input-btn {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 110px;
    margin-left: 20px;
    margin-top: 25px;
}

.home .input-deliver .input-btn .input-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.home .input-deliver .input-btn .input-container i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ff8059;
    font-size: 18px;
    pointer-events: none;
}

.home .input-deliver .input-btn .input-container input {
    width: 120%;
    padding: 15px 15px 15px 45px;
    border: none;
    border-radius: 12px;
    background-color: #f5f5f5;
    font-size: 16px;
    outline: none;
}

.input-container input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 45px;

}

.home .input-deliver .input-btn .btn {
    width: 200px;
    height: 55px;
    border: none;
    background-color: #ff8059;
    border-radius: 10px;
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home .input-deliver .input-btn .btn i {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}

.home .input-deliver .input-btn .btn span {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}

/* Menu Hissəsi */
.menu {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu .item {
    display: flex;
    flex-direction: column;
}

.menu .item .image {
    width: 350px;
    height: 350px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.menu .item .image img {
    width: 80%;
    height: 60%;
    display: block;
}

.menu .item .image .price {
    position: absolute;
    bottom: 140px;
    left: 0;
    background-color: #FFB30E;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-top-right-radius: 20px;
}

.menu .item .image .price .number {
    font-size: 30px;
    font-weight: bold;
}

.menu .item .image .price .price-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    margin-left: 5px;
}

.menu .item .image .price .price-sub span {
    display: block;
    font-weight: bold;
}

.menu .item .image .price .price-sub span:first-child {
    font-size: 20px;
}

.price-sub span:last-child {
    font-size: 20px;
    text-transform: lowercase;
}

.menu .item .image .sub-context {
    position: relative;
    top: 20px;
}

.menu .item .image .sub-context b {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 35px;
    padding-bottom: 100px;
}

.menu .item .image .sub-context .button-click {
    width: 150px;
    height: 34px;
    background-color: #ffd5d5ee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 6px;
    color: #ff8059;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

/* How-work Hissəsi */
.how-work {
    width: 100%;
    height: 84vh;
    background: linear-gradient(#fee8e8ee, #fff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.how-work h1 {
    margin-top: 50px;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #f17228;
}

.how-work .sub-work {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.how-work .sub-work .item {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
}


.how-work .sub-work .item .icon {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.how-work .sub-work .item .icon i {
    color: #f17228;
    font-size: 150px;
    text-shadow: 1px 5px 20px #f1722898;
}

/* İkinci İtem Xüsusi Özəllik Vermək */

.how-work .sub-work .item:nth-child(2) .icon {
    background: linear-gradient(#f17228, #ff8036);
    border-radius: 10px;
    width: 140px;
    height: 200px;
    box-shadow: 10px 10px 5px #f1722875;
}

.how-work .sub-work .item:nth-child(2) .icon i {
    color: #fff;
    font-size: 100px;
}


.how-work .sub-work .item h3 {
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.how-work .sub-work .item span {
    width: 60%;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #f17228;
    font-size: 18px;
}

.pop-item {
    width: 100%;
    height: 80vh;
}



.pop-item h1 {
    text-align: center;
    margin-bottom: 40px;
}

.pop-item .food-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50px;
}

.pop-item .food-items .item {
    width: 250px;
    height: 400px;
    margin-left: 20px;

}

/* Arrwow Hissəsi */

.pop-item .food-items .item .arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f17228;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.pop-item .food-items .item:nth-child(1) .arrow {
    margin-left: 140px;
}

.pop-item .food-items .item .arrow i {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.pop-item .food-items .item .image {
    width: 200px;
    height: 200px;
    border-radius: 12px;
}

.pop-item .food-items .item .image img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.pop-item .food-items .item .context {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}


.pop-item .food-items .item .context b {
    color: #050505e2;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.pop-item .food-items .item .context .sub-context {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #f17228;
    font-size: 18px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.pop-item .food-items .item .context span {
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}


.pop-item .food-items .item .context button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #ff8036;
    margin: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 20px;
}

/* Restorant Hissəsi */
.restaurant {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;
}


.restaurant h1 {
    text-align: center;
    font-size: 30px;
}

.restaurant .sub-restaurant {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}


.restaurant .sub-restaurant .item {
    width: 300px;
    height: 400px;
}

.sub-restaurant .item .image {
    width: 250px;
    height: 200px;
}

.sub-restaurant .item .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

.sub-restaurant .item .image .sub-info-1 {
    position: relative;
    background-color: #f17228;
    width: 80px;
    bottom: 195px;
    left: 20px;
    border-radius: 5px;
    padding: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.sub-restaurant .item .image .sub-info-2 {
    position: relative;
    background-color: #ffae00;
    width: 60px;
    bottom: 220px;
    left: 120px;
    padding: 3px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.sub-restaurant .item .context {
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}


.sub-restaurant .item .context img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
}

.sub-restaurant .item .context span {
    font-size: 18px;
    font-weight: 800;
    color: #000000b5;
}


.sub-restaurant .item .context .sc-down {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}


.sub-restaurant .item .context .sc-down i {
    font-size: 18px;
    color: #ffae00;
}

.sub-restaurant .item .context .sc-down span {
    font-size: 18px;
    color: #ffae00;
    font-weight: 800;

}

.sub-restaurant .item:nth-child(1) button {
    background-color: #f98d6c9d;
    height: auto;
    width: auto;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 900;
    color: #f17228;
}


.sub-restaurant .item:nth-child(2) button {
    background-color: #f98d6c9d;
    height: auto;
    width: auto;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 900;
    color: #f17228;
}


.sub-restaurant .item button {
    background-color: #e1e1e19d;
    height: auto;
    width: auto;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 900;
    color: #00d841e2;
}

/* View All Hissəsi */

.restaurant .sub-restaurant .view-all {
    position: relative;
    left: 1000px;
    background-color: #ff8036;
    width: 150px;
    height: auto;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 1px 5px 5px #f1722883;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

/* Search Food Hissəsi */

.search-food {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28%;
    gap: 70px;
    background-color: #ffe1d8;
    padding: 70px 0;
}

.search-food h1 {
    font-size: 60px;
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 800;
    font-style: normal;
    text-align: left;
    padding-bottom: 35px;
    margin-left: 120px;
}

.search-food article.page-scrool {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-left: 65%;
    margin-top: -170px;
}


.search-food article.page-scrool .p-view {
    max-width: 130px;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 15px 0;
    font-size: 25px;
    font-weight: bold;
    color: #ffae00;
    border-radius: 10px;
}


.search-food article.page-scrool .pre-next {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.search-food article.page-scrool .pre-next .pre {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffae00;
    box-shadow: -1px 6px 10px #f17228c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-food article.page-scrool .pre-next .next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffae00;
    box-shadow: -1px 6px 10px #f17228c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-food article.page-scrool .pre-next .pre,
.next i {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.item-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.item-box .item {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
    gap: 20px;
}


.item-box .item .image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.item-box .item .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item-box .item span {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

/* Application Hissəsi */
.app {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding: 0 55px;
    display: flex;
    flex-direction: column;
    background-color: #FEEFD3;
}

.app .app-barner {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 180px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 240px;
}

.app .app-barner .item {
    width: 250px;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.app .app-barner .item .image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .app-barner .item .image img {
    width: 100%;
    height: 100%;
}

.app .app-barner .item .context {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.1;
    background: linear-gradient(to bottom, #FFB30E 0%, #FF8A00 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.app .app-barner .item hr {
    width: 3px;
    height: 100px;
    background-color: #7575758e;
    margin-left: 35px;
    border: none;
    outline: none;
}

/* ======= Application`un Barner Hissəsini Dizaynı ======== */

.app .app-bottom {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 150px;
    margin-top: 100px;
}


.app .app-bottom .image {
    width: 400px;
    height: 400px;
    margin-left: 100px;
    transform: translateY(50px);
}

.app .app-bottom .image img {
    width: 100%;
    height: 100%;
}

.app .app-bottom .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 50px;

}

.app .app-bottom .context h1 {
    font-size: 70px;
    color: #FF8A00;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.app .app-bottom .context p {
    width: 420px;
    color: #757575;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Düymələrin ana qutusu */
.app .app-bottom .context .buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

/* Hər bir ağ düymə bloku */
.app .app-bottom .context .buttons .img-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    min-width: 220px;
    transition: 0.3s;
}

.app .app-bottom .context .buttons .img-icon:hover {
    transform: translateY(-3px);
}

/* Düymə daxilindəki ikon */
.app .app-bottom .context .buttons .img-icon img {
    width: 35px;
    height: auto;
    margin-right: 15px;
}

/* Yazıların düzülüşü */
.app .app-bottom .context .buttons .icon-context {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.app .app-bottom .context .buttons .icon-context h3 {
    font-size: 10px;
    margin: 0;
    color: #888;
    font-weight: 400;
    line-height: 1;
}

.app .app-bottom .context .buttons .icon-context h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
    font-weight: 800;
    line-height: 1.2;
}

.app-eli {
    position: absolute;
    bottom: 0;
    transform: translateY(350px);
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #FFB30E;
    z-index: 0;
    clip-path: path("M0,0 Q800,240 1600,0 L1600,260 L0,260 Z");
}


.recept {
    width: 100%;
    height: auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.recept .item {
    width: 80%;
    height: 350px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    box-shadow: 1px 5px 10px #757575, -1px -5px 10px #757575;
    border-radius: 10px;
}

.recept .item .context {
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.recept .item .context h2 {
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.recept .item .context h2 span {
    color: #ff8036;
}

.recept .item .context p {
    margin-top: 7px;
    font-size: 20px;
    color: #adababd1;
}

.recept .item .context button {
    width: 300px;
    height: 50px;
    color: #fff;
    background: linear-gradient(to right, #ffae00, #ff8036);
    border: none;
    outline: none;
    border-radius: 6px;
    margin-top: 80px;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 700;
    box-shadow: 1px 3px 10px #ffb3009b, -1px -3px 10px #ffb300ad;

}

.recept .item .image {
    width: 66%;
    height: 100%;
    border-top-right-radius: 10px;
}

.recept .item .image img {
    width: 100%;
    height: 100%;
}

.recept .item .image img:nth-child(1) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recept .item .image img:nth-child(2) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.recept .item .image img:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}